<div id="carouselExampleControls" class="carousel slide carousel-fade carousel-dark " data-bs-interval="false">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>

    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="2000">
            <img src="../../../assets/imges/60_20191120095714485.jpg" class="d-block w-100" alt="...">

            <div class="carousel-caption d-none d-md-block">
                <h5>Awesome Demo</h5>
                <p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.</p>
                <button class="btn btn-success">DISCOVER NOW!</button>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="../../../assets/imges/60_20191120095703715.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Super Cool Demo</h5>
                <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model
                    text.</p>
            </div>

        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="../../../assets/imges/60_20191120095741728.jpg" class="d-block w-100 " alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Another Greatest Slide</h5>
                <p>Various versions have evolved over the years, sometimes by accident, sometimes on purpose.</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>